name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v1

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        
    - name: Compile code
      run: |
        cd Firmware
        platformio run
        cd .pio/build
        ls
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ogx360
        path: |
          Firmware/.pio/build/
